---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article';
import { Image, Picture } from 'astro:assets';
import Layout from '../../layouts/layout.astro';
import ArticleCard from '../../components/ArticleCard.astro';


const articles = (await fetchApi<Article[]>({
    endpoint: 'articles?populate=deep,3',
    wrappedByKey: 'data'
  })).sort(
	(a, b) => new Date(a.attributes.publishedAt).valueOf() - new Date(b.attributes.publishedAt).valueOf()
)
---

<Layout title="Xander McLeod's Articles">
  <main class="px-10 flex flex-col gap-4 justify-center">
    <h1 class="text-primary font-display font-bold text-3xl">Articles</h1>
    <ul>
      {
        articles.map((article: Article) => { 
          return (
            <li>
              <ArticleCard authors={article.attributes?.authors.map((element) => ({
                name: element.name,
                profileIcon: element.avatar
              }))} description={article.attributes.description} title={article.attributes.title} src={article.attributes.image?.data?.attributes?.url} date={new Date(article.attributes.publishedAt)} href={`/articles/${article.attributes.slug}/`}/>
            </li>
        );
      })
      }
    </ul>
  </main>
</Layout>
