---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Image, getImage } from 'astro:assets';

import HomeIconSrc from '../../public/Vector.svg';
const HomeIcon = await getImage({ src: HomeIconSrc});
---

<header>
  <nav class="flex flex-row justify-between p-10 bg-transparent sticky">
    <div>
      <a href="/"><Image src={HomeIcon.src} width={30} height={30} alt="Home" /></a>
    </div>
    <div class="flex flex-row gap-8 text-primary font-sans  text-xl cursor-pointer">
      <a>About</a>
      <a href="/articles">Articles</a>
      <a>Projects</a>
    </div>
  </nav>
</header>